@inherits LayoutComponentBase

<PageTitle>Bopo</PageTitle>

<div class="page">

    <main>
        <div class="top-row px-4">
            <a href="/">Logout</a>
            <a href="https://github.com/FlippaFloppa/Ingegneria-del-Software" target="_blank">Github</a>
            <RadzenImage Path="images/github_icon.png" Style="width: 20px; height: 20px; margin-left: 8px;" />
        </div>

        <article class="content px-4" >
            @Body
        </article>
    </main>
</div>
