@page "/login"
    @code {
    void OnLogin()
    {
    Console.WriteLine("Login");
    }
        void OnRegister()
    {
    Console.WriteLine("Registration");
    }
    }   
    
        <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
        <RadzenCard >
            <RadzenImage Path="images/bopo.svg" Style="width: 70%; margin: 3rem;" />
            <h2 class="mb-4">Login with register</h2>
            <RadzenTemplateForm Data=@("LoginWithRegister")>
            <RadzenLogin AllowResetPassword="false" 
                            Login=@(args => OnLogin()) 
                            Register=@(args => OnRegister()) />
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
