@page "/"
@inject NavigationManager NavigationManager
@namespace Singleton.DatabaseUsers
@using System.Collections;
@using System.Collections.Generic;

    <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4" style="">
        <RadzenCard class="m-3" Style="border-radius: 1rem">
            
                <RadzenImage Path="images/bopo.svg" Style="width: 65%; align-self:center "/>
            
            <h1 class="mb-4" style="text-align:center">Login</h1>
   
            <RadzenCard class="m-3" Style="border-radius: 1rem">
                    <div class="row mb-3">
                        <div class="col-md-3" style="align-self: center;">
                            <RadzenLabel Text="Email"/>
                        </div>
                        <div class="col">
                            <RadzenTextBox style="display: block" Name="Email" @bind-Value="email" Class="w-100"  Placeholder="goblino@example.com"/>
                            <RadzenRequiredValidator Component="Email" Text="Email is required"  Style="position: absolute" />
                            <RadzenEmailValidator Component="Email" Text="Provide a valid email address"  Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3" style="align-self: center;">
                            <RadzenLabel Text="Password"/>
                        </div>
                        <div class="col">
                            <RadzenPassword Placeholder="************" Class="w-100" @bind-Value="password" />
                        </div>
                    </div>
                    <div class="row mb-4">
                        
                  <RadzenButton  ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Secondary" Click=@(OnClick)  style="align-self:center;display: block;width: 100%;">
                    <span class="rz-button-text">Log in</span>
                    <RadzenImage Path="images/login_icon.png" Style="width: 20px; height: 20px; margin-left: 8px;" />
                  </RadzenButton>
                    </div>
                    <div class="row mb-1">
                    <div class="col-md-8">
                    Non sei ancora registrato? <a href="/registration">Clicca qui!</a>
                    </div>
                    </div>
             </RadzenCard>
            
        </RadzenCard>
    </div>


@code {
    DatabaseUsers users = DatabaseUsers.Instance();
    String email;
    String password;
    void OnLogin(){
        Console.WriteLine("Login");
    }
    void OnRegister()
    {
        Console.WriteLine("Registration");
    }
    void OnClick()
    {   
        User u = new User(email,password);

        foreach (User user in users.getListaUtenti()){
        if(u.getusername()==user.getusername() && u.getpassword()==user.getpassword()){
            Console.WriteLine("Utente: "+user.getusername());
            Console.WriteLine("Login con utente: "+ u.getusername() + " password: " + u.getpassword());
            NavigationManager.NavigateTo("account");
            return;
        }
        }
        Console.WriteLine("Login errato");     
        NavigationManager.NavigateTo("error"); 


    }
}   
    
