
        <div class="top-row px-6">
            <RadzenCard Style="margin-bottom: 200px; width: max-content; min-width: 200px; border-radius: 2rem;" Class="mt-2 mx-auto">
            
                <RadzenMenu>
                    <RadzenMenuItem Text="File" Icon="source"/>
                    <RadzenMenuItem Text="Viste" Icon="pageview">
                        <RadzenMenuItem Text="Personalizza Viste" Icon="view_quilt"/>
                    </RadzenMenuItem>
                    <RadzenMenuItem Text="Account" Path="/account" Icon="manage_accounts"/>
                    <RadzenMenuItem Text="Gruppi" Path="/gruppi" Icon="groups"/>
                </RadzenMenu>
            </RadzenCard>
        </div>
